/*variables*/
/* Extend */
.card {
  border: solid 1px #333d29;
}

/* Mixin */
/*general*/
* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

* body {
  background-color: #fefae0;
  margin-top: 0;
}

/*Header*/
.header {
  margin: 0;
  padding: 0;
}

.header nav {
  background-color: #e9edc9;
  margin: 0;
  padding: 10px;
}

.header__boton {
  background-color: #e9edc9;
  padding: 10px;
}

.header__boton__bars {
  font-size: 30px;
  font-weight: bolder;
}

.header__boton:hover {
  background-color: #fefae0;
}

.header__boton:checked {
  background-color: #333d29;
}

.header__boton:active {
  background-color: #333d29;
  border: 1px ridge #333d29;
}

.header__menu {
  margin-left: -100px;
}

.header__menu__lista {
  margin-left: -200px;
  background-color: #e9edc9;
}

.header__portada {
  background-color: white;
  height: 250px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: row;
      flex-wrap: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__portada__h1 {
  font-size: 150px;
  color: black;
}

.header__portada__logo {
  width: 200px;
  height: 190px;
}

.header .footer {
  padding: 10px;
  background-color: #e9edc9;
  margin: 0;
}

.header a {
  color: #333d29;
  font-weight: bolder;
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
}

.header a:hover {
  color: saddlebrown;
}

/*Introduccion*/
.titulo {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2px;
  margin-bottom: 70px;
  padding: 17px;
  text-decoration: none;
  background-color: #e9edc9;
  font-size: 30px;
}

.introduccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.introduccion__imagen {
  margin-left: 150px;
}

.introduccion__imagen__lampara {
  margin-top: -30px;
  width: 70%;
  height: 70%;
}

.introduccion__texto {
  width: 60%;
  text-align: justify;
  margin-left: -50px;
  margin-right: 150px;
  margin-top: 10px;
  margin-bottom: auto;
  letter-spacing: 4;
}

/*productos*/
.productos {
  padding: auto;
  margin-top: 30px;
}

.productos__lamparas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: auto;
}

.productos__tituloDos {
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: auto;
  padding: 17px;
  text-decoration: none;
  background-color: #e9edc9;
  font-size: 30px;
}

.card {
  background-color: white;
  margin: 50px;
}

.card-text {
  text-align: center;
  font-weight: 800;
  font-size: 17px;
  background-color: #e9edc9;
  line-height: 2;
  padding: 6px;
}

.btn {
  margin-left: 105px;
}

/* contacto */
.formulario__titulo {
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 17px;
  text-decoration: none;
  background-color: #e9edc9;
  font-size: 30px;
}

.formulario__titulo__parrafo {
  margin-left: 150px;
}

.formulario__contenedor {
  width: 80%;
  margin-left: 150px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0;
}

.boton {
  margin-left: 150px;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 70px;
}

/*nosotros*/
.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.nosotros__lampara {
  width: 80%;
  height: 80%;
  margin-left: 90px;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: auto;
}

.nosotros__portavela {
  width: 80%;
  margin-left: 10px;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 90%;
}

.nosotros__texto {
  text-align: justify;
  margin-left: 60px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 82%;
  line-height: 2;
}

/* preguntas frecuentes*/
.accordion-item {
  background-color: #fefae0;
  border: none;
  font-family: "Fira Sans", sans-serif;
  margin-left: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.accordion-button {
  background-color: #cfe1b9;
  border: #333d29;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.accordion-button:focus {
  background-color: #cfe1b9;
  color: #333d29;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button:active {
  color: #333d29;
  border: none;
  background-color: #cfe1b9;
}

.accordion-header {
  background-color: #cfe1b9;
  border: none;
}

.acordion-body {
  margin: 10px;
}

.acordion {
  background-color: #e9edc9;
}

.acordion__texto {
  text-align: justify;
  width: 95%;
  margin-left: 20px;
}

/*footer*/
.footer {
  background-color: #e9edc9;
  margin-top: 0;
  width: 100%;
  padding: 30px;
}

.nav-link {
  color: #333d29;
  font-size: 20px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  /*Home*/
  * {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
  .header__portada {
    padding: 15px;
    margin: 0;
  }
  .header__portada__logo {
    width: 70px;
    height: 70px;
  }
  .header__portada__h1 {
    font-size: 4px;
    margin: 0;
    padding: 0;
  }
  .titulo {
    font-size: 10px;
    margin-left: 0;
    overflow-x: hidden;
  }
  .main {
    overflow-x: hidden;
  }
  .introduccion {
    display: inline;
    overflow-x: hidden;
  }
  .introduccion__texto {
    margin-right: 0;
    padding: 0;
    margin-left: 0;
    word-wrap: break-word;
  }
  .introduccion__texto__parrafo {
    width: 98%;
    margin-right: 0px;
    margin-left: 0;
    overflow-x: hidden;
  }
  .introduccion__imagen {
    margin: 0;
  }
  .introduccion__imagen__lampara {
    display: none;
  }
  /*productos*/
  .productos {
    margin-left: 0;
    padding-left: 0;
    overflow-x: hidden;
  }
  .productos__lamparas {
    padding: 0;
    border: 0;
  }
  .card {
    margin-left: 0;
    margin-right: 100px;
  }
  /*formulario*/
  .formulario {
    overflow-x: hidden;
  }
  .formulario__titulo {
    margin-bottom: 10px;
  }
  .formulario__titulo__parrafo {
    margin-left: 10px;
  }
  .formulario__contenedor {
    margin-left: 10px;
    width: 95%;
  }
  .boton {
    margin-left: 10px;
  }
  /*nosotros*/
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .nosotros__parrafo {
    overflow: hidden;
    margin-right: 0;
    padding: 0;
    margin-left: -80px;
  }
  .nosotros__lampara {
    display: none;
  }
  .nosotros__portavela {
    display: none;
  }
  .nosotros__texto {
    margin-top: 10px;
    margin-left: 0;
    overflow-x: hidden;
    margin-right: 0;
    width: 100%;
    padding: 0;
  }
  /*preguntas frecuentes*/
  .accordion-item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .accordion-button {
    margin-left: 0;
    margin-bottom: 25px;
    width: 100%;
  }
  .acordion__texto {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  /*Home*/
  .header {
    margin: 0;
  }
  .header__portada {
    margin-left: 0;
    padding: 10px;
    height: 120px;
  }
  .header__portada__logo {
    width: 100px;
    height: 100px;
    margin-top: 5px;
  }
  .header__portada__h1 {
    font-size: 95px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
  .titulo {
    font-size: 25px;
    margin-bottom: 20px;
    width: 100%;
    margin-right: 0;
  }
  .introduccion {
    display: inline;
  }
  .introduccion__imagen__lampara {
    display: none;
  }
  .introduccion__texto {
    width: 95%;
  }
  .introduccion__texto__parrafo {
    margin-left: 10px;
  }
  /*productos*/
  .productos {
    width: 100%;
  }
  .productos__lamparas {
    padding: 0;
    margin-left: 60px;
    border: 0;
  }
  /*formulario*/
  .formulario__titulo {
    margin-bottom: 10px;
  }
  .formulario__titulo__parrafo {
    margin-left: 10px;
  }
  .formulario__contenedor {
    margin-left: 10px;
    width: 95%;
  }
  .boton {
    margin-left: 10px;
  }
  /*nosotros*/
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros__lampara {
    display: none;
  }
  .nosotros__portavela {
    width: 90%;
    margin-left: 20px;
    margin-right: 15px;
  }
  .nosotros__texto {
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
  }
  /*preguntas frecuentes*/
  .accordion-item {
    margin-left: 0;
    margin-right: 0;
  }
  .accordion-button {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .acordion__texto {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  /*Home*/
  .header {
    margin: 0;
  }
  .header__portada {
    margin-left: 0;
    padding: 10px;
    height: 120px;
  }
  .header__portada__logo {
    width: 100px;
    height: 100px;
    margin-top: 5px;
  }
  .header__portada__h1 {
    font-size: 95px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
  .titulo {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .introduccion {
    display: inline;
  }
  .introduccion__imagen__lampara {
    display: none;
  }
  .introduccion__texto {
    margin-left: 10px;
    width: 97%;
  }
  .introduccion__texto__parrafo {
    margin-left: 10px;
  }
  /*productos*/
  .productos {
    width: 100%;
  }
  .productos__lamparas {
    padding: 0;
    margin-left: 60px;
    border: 0;
  }
  /*formulario*/
  .formulario__titulo {
    margin-bottom: 10px;
  }
  .formulario__titulo__parrafo {
    margin-left: 10px;
  }
  .formulario__contenedor {
    margin-left: 10px;
    width: 95%;
  }
  .boton {
    margin-left: 10px;
  }
  /*nosotros*/
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros__lampara {
    display: none;
  }
  .nosotros__texto {
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 0;
  }
  .nosotros__texto__portavela {
    width: 100%;
    margin-left: 100px;
    margin-right: 150px;
    padding: 150px;
  }
  /*preguntas frecuentes*/
  .accordion-item {
    margin-left: 0;
    margin-right: 0;
  }
  .accordion-button {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .acordion__texto {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */