*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;;
}

body{
    background-color: seashell;
    margin-top: 0;
}

h1 {
    color:white;
    margin: 5rem 4rem 2rem 2rem;
    padding: 1rem 1.5rem 0.5rem 2rem;
    font-size: 7rem;
    letter-spacing: 3rem;
    word-spacing: 1rem;
    text-shadow: 7px 7px 9px black;
}

.encabezado{
    color: white;
    text-decoration: none;
    margin: -3rem 7rem 2rem 4rem;
    padding-bottom: 3rem;
    font-size: 2rem;
    text-shadow: 7px 7px 9px black;   
}

.portada{
    background-image: url(/fotos/imagenencabezado.jpg);
    background-repeat: no-repeat;
    opacity: 0.88;
    height: 160%;
    width: 100%; 
    margin-left: 9rem;        
}

a{
    color: rgb(51, 61, 41);
    font-weight: bolder;
    display: inline-block;
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;    
    margin: -5rem 1rem 2rem 1rem;
}

a:hover{
    color: rgb(101, 109, 74);
}

.bannerMenu{
    margin-left: 1.5rem;
    padding: 2rem;
    background-color: rgb(194, 197, 170);
    border: solid 3px rgb(101, 109, 74);
}

nav li{
    display: inline;
    float: left;
    position: relative;    
    
}

nav li ul{
    background-color: rgb(194, 197, 170);
    display: none;
    position: absolute;
    padding: 1rem;
}

nav li:hover > ul{
    display: block;
}

main{
    margin-bottom: 6rem;
}

/*introduccion*/


h2{
    margin: 2rem 9rem 1rem 9rem;
    font-size: 2rem;
    text-decoration: underline;
    color: rgb(51, 61, 41);
}

.introduccion__parrafo{
    width: 55%;
    text-align: justify;
    line-height: 2.3;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 2rem;

}


.imagen1{
    float: right;
    margin-top: -28rem;
}

/*productos*/

.tituloDos{
    text-decoration: none;
    margin-top: 6rem;
}

.card{
    border: 1px solid rgb(51, 61, 41);
    background-color: rgb(230, 204, 178);   
}

.card-text{
    text-align: center;
    font-weight: 800;
    font-size: 20px;
}

.btn{
    margin-left: 105px;
}

.productos{
    margin: 1rem 6rem 1rem 6rem;
    padding: 3rem;
    display: grid;
    grid-template-areas: 
    "lampara1 lampara2"
    "lampara3 lampara4"
    "lampara5 lampara5";
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
    justify-items: center;
    align-items: center;
}

.lampara1{
    grid-area: lampara1;
}

.lampara2{
    grid-area: lampara2;
}

.lampara3{
    grid-area:lampara3;
}

.lampara4{
    grid-area: lampara4;
}

.lampara5{
    grid-area: lampara5;
}

.lampara6{
    grid-area: lampara6;
}

.lampara7{
    grid-area: lampara7;
}

.lampera8{
    grid-area:lampara8;
}

.lampara9{
    grid-area:lampara9;
}

.productos2{
    margin: 1rem 6rem 1rem 6rem;
    padding: 3rem;
    display: grid;
    grid-template-areas: 
    "lampara6 lampara7"
    "lampara8 lampara9";
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
    justify-items: center;
    align-items: center;
}

.lampara5{
    grid-area: lampara5;
}

.lampara6{
    grid-area: lampara6;
}

.lampara7{
    grid-area: lampara7;
}

.lampara8{
    grid-area: lampara8;
}

.lampara9{
    grid-area: lampara9
}
/* contacto */

.tituloFormulario{
    margin-left: 2rem;
}

.formularioParrafo{
    margin-left: 1.5rem;
}
.contenedorFormulario{
    margin-left: 1.5rem;
    margin-bottom: 3rem;
}

.formularioContacto{
    padding: 3rem;
    margin: 2rem 12rem 2rem 15rem;
    text-align: center;
    font-size: 1.2rem;
}

input:focus{
    height: 27px;
    font-size: 25px;
}



/* preguntas frecuentes*/

.preguntasFrecuentes{
    margin: 2rem 2rem 2rem 8rem;
    text-align: left;
}

.listaPreguntas{
    margin-top: 0;
    margin-bottom: 0;
}

.parrafo {
    width: 90%;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
}

div ol{
    list-style-type:disc;
}

/*nosotros*/

.nosotros{
    text-align: justify;
    margin-left: 8rem;
    width: 82%;
    line-height: 2;

}


    
