/*Introduccion*/

.titulo{                
    width: 100%;
    @include margenes (0, 0, 2px, 70px);                
    padding: 17px;
    text-decoration: none;                
    background-color: $color-principal2;
    font-size: 30px;                
}

.introduccion{                
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: center;   
    margin-bottom: 10px;               
    
    &__imagen{
        margin-left: 150px;

        &__lampara{
            margin-top: -30px;
            width: 70% ;
            height: 70%;
        }
    }
    
    &__texto{
        width: 60%;
        text-align: justify;
        @include margenes (-50px, 150px, 10px, auto);
        letter-spacing: 4;
    }                
}            

