/*nosotros*/

.nosotros{       
    display: flex;
    margin-bottom: 50px;


    &__lampara{
        width: 80%;
        height: 80%;
        @include margenes (90px, 0, 30px, auto);
        
    }

    &__portavela{
        width: 80%;
        @include margenes (10px, 0, 30px, 30px);
        height: 90%;       
    }

    &__texto{
        text-align: justify;
        @include margenes (60px, 100px, 30px, 30px);        
        width: 82%;
        line-height: 2;
    }
}