/* preguntas frecuentes*/

.accordion-item{
    background-color: $color-principal;
    border: none; 
    font-family: $fuente;   
    margin-left: 40px; 
    margin-right: 40px;
    @include margenes (40px, 40px, auto, auto);
    }

.accordion-button{
    background-color: $color-acordeon;
    border:$color-secundario;   
    @include margenes (0, 0, 30px, 30px);
    
    &:active{
        color: $color-secundario;
        border: none;
        background-color: $color-acordeon; 
        outline: 0;       
    }

    &:focus{
        border: none;
        box-shadow: none;
    }
}

.accordion-header{
    background-color: $color-acordeon;
    border: none;  
}

.acordion-body{
    margin: 10px;
}

.acordion{
    background-color: $color-principal2;

    &__texto{         
        text-align: justify;     
        width: 95%; 
        margin-left: 20px;         
    }
}