/* preguntas frecuentes*/


.accordion-item{
    background-color: $color-principal;
    border: none; 
    font-family: $fuente;    
}

.accordion-header{
    text-decoration: none;
    color: $color-secundario;      
    }

.accordion-button{
    background-color: $color-principal2;  
    width: 75%;
    border:$color-secundario;   
    @include margenes (170px, auto, auto, 40px);
    
    &:focus{
        background-color: $color-principal2;
        color: $color-secundario;        
    }

    &:visited{
        color: $color-secundario;
    }
    
    &:active{
        color: $color-secundario;
        border: none;        
    }

}

.acordion-body{
    margin: 0;
}

.acordion{
    background-color: $color-principal2;

    &__texto{         
        text-align: justify;     
        width: 75%;  
        margin-left: 170px;
    }
}

